:root {
    --background-color-grey: #555555;
    --green-color-darker: #53aa10;
    --green-color-dark: #5fc314;
    --green-color-light: #95f04f;
    --screen-color: #BCD1C0;
    --btn-font-color: #e9f6fa;
    --btn-num-background: #6d6d6d;
    --btn-num-border: #7c7c7c;
    --btn-num-hover-background: #555555;
    --btn-num-hover-border: #6d6d6d;

}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-font-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
}

#preview {
    background-color: var(--background-color-grey);
    width: 205px;
    height: 300px;
    margin: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    box-shadow: -3px -3px 3px inset, 3px 3px 3px #FFFFFF inset;
}

#screen {
    width: 100%;
    height: 70px;
    background-color: var(--screen-color);
    border-radius: 5px;
    text-align: right;
    font-family: 'DSEG14ClassicRegular';
    font-size: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px inset, 2px 2px #FFFFFF;
}

button {
    height: 40px;
    aspect-ratio: 1;
    background-color: var(--btn-num-background);
    border: solid var(--btn-num-border);
    border-radius: 7px;
    font-weight: 900;
    font-size: larger;
    color: var(--btn-font-color);
    margin: 0px;
    box-shadow: 2px 2px black;
}

button:active {
    box-shadow: 0 0px;
    transform: translateY(2px);
}

.num:hover {
    background-color: var(--btn-num-hover-background);;
    border: solid var(--btn-num-hover-border);
}

.sign:hover {
    background-color: var(--green-color-darker);
    border: solid var(--green-color-dark);
}

#keys {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 15px;
}

.sign {
    background-color: var(--green-color-dark);
    border: solid var(--green-color-light);
}

#clear {
    width: 100%;
    display: flex;
    justify-content: right;
}

#clearBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 40px;
}

#footer {
    padding: 20px;
}